.P9KVBf .Vzh3ib:not(:disabled) {
    background-color: #3c4043 !important;
}
.P9KVBf .Vzh3ib:not(:disabled){
    color: #ffff !important;
}

.jx06rrr{
    background-color: #ea493c !important;
}

.jx06ddd{
    display: none !important;
    /* background-color: #ea493c !important; */
}
.jx06ff::before,.jx06ff::after{
    display: none !important;
    height:0%;
    width: 0%;
}