.z38b6 {
    color: rgb(255, 255, 255)fff;
}

#jx06BBB {
    /* width: 100%; */
    /* height: 100%; */
    background-color: #fd9191;
    position: absolute;
    top: 33%;
    left: 10px;
    width: 95%;
    height: 55%;
}

.JXXSs4fHf {
    margin-left: 0%;
    margin-top: 20px;
}
.jx061M{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #202124;
}
.jx061T{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 11px;
    line-height: 18px;
    color: #202124;
}
.jx061S{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #202124;
}

.jx062B {
    margin-left: 0%;
    height: auto;
}

.jx062S {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    letter-spacing: normal;
    color: #202124;
}

.jx062T {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 11px;
    line-height: 18px;
    text-align: left;
    letter-spacing: normal;
    color: #202124;
    margin-left: 6px;
}

.jx062M {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #202124;
    margin-top: -34px;
    margin-bottom: -20px;
}

.jx062ST {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-flow: row nowrap;
    margin-top: -25px;
    /* margin-bottom: 4px; */
}
